# Required
GITHUB_TOKEN=ghp_your_github_personal_access_token
DEVIN_API_KEY=cog_your_devin_api_key
DEVIN_ORG_ID=org-your_devin_org_id

# Optional
TARGET_REPO=CHENFEIhub/superset
GITHUB_WEBHOOK_SECRET=your_webhook_secret
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
MAX_CONCURRENT_SESSIONS=3
PLAYBOOK_ID=
PORT=3000
